* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}
html {
  width: fit-content;
}
.App {
  width: 100vw;
  height: 80vh;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
}
.Tabs {
  width: 80%;
  height: auto;
  min-height: 400px;
  background: #ffffff;
  margin: 3.5rem auto 1.5rem;
  padding: 2rem 1rem;
  color: #e8f0f2;
  border-radius: 2rem;
  @media (max-width: 769px) {
    padding: 2rem 0;
  }
  border: 10px solid rgb(0, 153, 255);
}
ul.nav {
  width: 60%;
  margin: 0 auto 2rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
  border: 1px solid #39A2DB;
  border-radius: 2rem;
  padding-left: 0px;
  @media (max-width 768px) {
    width: 90%;
  }
  color: black;
}
ul.nav li {
  width: 50%;
  padding: 1rem;
  list-style: none;
  text-align: center;
  cursor: pointer;
  transition: all .7s;
  border-radius: 0;
  border-bottom-left-radius: 2rem;
  border-top-left-radius: 2rem;
}
ul.nav li:nth-child(2) {
  border-radius: 0;
  border-bottom-right-radius: 2rem;
  border-top-right-radius: 2rem;
}
ul.nav li:hover {
  background: rgba(50, 224, 196, .15);
}
ul.nav li.active {
  background: #39A2DB;
}
.FirstTab p,
.SecondTab p {
  font-size: 2rem;
  text-align: center;
}
.SecondTab {
  color: black;
}
#currencyconverter {
  width: 100%;
  height: auto;
  display: inline-block;
  text-align: center;
  margin-left: auto;
  align-content: center;
  color: black;
}
label {
  display: inline-block;
  font-size: 1.5rem;
  margin: 1rem .5rem;
}
button {
  margin: 1rem .5rem;
  display: flex;
  align-items: center;
}
input {
  width: 100px;
}
input[type="number"] {
  -moz-appearance: textfield
}
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
@media (max-width: 768px) {
  .FirstTab,
  .SecondTab {
    width: 100%;
  }
  .label {
    font-size: 1rem;
    margin: .5rem 0;
    display: block;
  }
  .btn {
    display: block;
    margin: 1rem auto;
  }
  #firstli {
    font-size: 1rem !important;
  }
  li {
    font-size: 13px;
  }
  .chart {
    display: none !important;
  }
}
.footer {
  display: inline-block;
  margin: 1rem auto;
  width: 100%;
  height: 100%;
  justify-content: center;
  text-align: center;
}
#firstli {
  text-align: center;
  font-weight: bold;
  font-size: 1.5rem;
}
li {
  list-style: none;
  font-weight: bold;
}
.chart {
  width: 85% !important;
  height: 450px !important;
  display: inline-flex;
  margin: 0 auto;
}
